@charset "UTF-8";

section#conteudo{
    width: 1000px;
    margin: auto;
}
iframe#frame-kjk{
    width: 890px;
    height: 466px;
    border: none;
    overflow: hidden;
}
iframe#frame-kjk::-webkit-scrollbar{
    display: none
}